<!DOCTYPE html>
<html>
<head>
  <title>Three.js Learn</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>


<script type="text/javascript" src="three/build/three.min.js"></script>
<script type="text/javascript" src="three/examples/js/controls/OrbitControls.js"></script>
<script type="text/javascript" src="three/examples/js/controls/DeviceOrientationControls.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>